version: '3.1'

services:
    
 mysql:
    image: mysql:latest
    container_name: mysql
    ports:
      - 3306:3306
    cap_add:
      - SYS_NICE  # CAP_SYS_NICE
    environment:
      MYSQL_ROOT_PASSWORD: rafaelsql
      MYSQL_DATABASE: desafioglobo
      MYSQL_PASSWORD: rafaelsql
    expose:
      - 3306  
    healthcheck:
     test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
     timeout: 20s
     retries: 10
    networks:
      - java-mysql-network      
      
 desafioglobo:    
    build:
      dockerfile: ./Dockerfile
      context: .
    image: desafioglobo
    container_name: desafioglobo
    environment:
     - spring.datasource.url=jdbc:mysql://mysql:3306/desafioglobo
    ports:
     - 8080:8080
    depends_on:
     mysql:
      condition: service_healthy
    networks:
     - java-mysql-network    
           
networks: 
  java-mysql-network:
    driver: bridge

   